# Pandas

In [12]:
import numpy as np
import pandas as pd

In [3]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#### 0. Создать датафрейм.

In [15]:
df = pd.DataFrame.from_records(data, index= ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

#### 1. Вывести информацию о датафрейме.

In [16]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
age         8 non-null float64
animal      10 non-null object
priority    10 non-null object
visits      10 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

#### 2. Вернуть первые 3 строки DataFrame `df`.

In [17]:
print(df[0:3])

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

#### 3. Выберите только столбцы 'animal' и 'age' из DataFrame `df`.

In [18]:
print(df[['animal','age']])

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

#### 4. Выберите данные в строках `[3, 4, 8]` * и * в столбцах `['animal', 'age']`.

In [20]:
df.iloc[[3,4,8], [0, 1]]

   age animal
d  NaN    dog
e  5.0    dog
i  7.0    dog

#### 5. Выберите строки где количество посещений больше 3.

In [23]:
df[df.visits >= 3]

   age animal priority  visits
b  3.0    cat      yes       3
d  NaN    dog      yes       3
f  2.0    cat       no       3

#### 6. Выберите строки, в которых отсутствует возраст.

In [25]:
print(df.loc[df['age'].isnull()])

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

#### 7. Выберите строки, в которых животное является кошкой * и * возраст составляет менее 3 лет.

In [26]:
print(df[(df.animal == 'cat') & (df.age < 3)])

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

#### 8. Выберите строки в которых возраст от 2 до 4 (включительно).

In [30]:
print(df[(2 <= df.age) & (df.age <= 4)])

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

#### 9. Измените возраст в строке 'f' на 1,5.

In [34]:
df.at['f', 'age'] = 1.5
df

     age animal priority  visits    f
a    2.5    cat      yes     1.0  NaN
b    3.0    cat      yes     3.0  NaN
c    0.5  snake       no     2.0  NaN
d    NaN    dog      yes     3.0  NaN
e    5.0    dog       no     2.0  NaN
f    1.5    cat       no     3.0  NaN
g    4.5  snake       no     1.0  NaN
h    NaN    cat      yes     1.0  NaN
i    7.0    dog       no     2.0  NaN
j    3.0    dog       no     1.0  NaN
age  NaN    NaN      NaN     NaN  1.5

#### 10. Рассчитать общее количество всех посещений.

In [35]:
print(df.visits.sum())

19.0

#### 11. Расчитайте суммарный возраст животных

In [36]:
print(df.age.sum())

27.0

#### 12. Добавьте новую строку `k` к `df` со значениями по вашему желанию. Затем удалите ее.

In [37]:
df.loc['k', 'age'] = 1

df = df[df.index != 'k']

#### 13. Подсчитайте количество животных каждого типа в `df`.

In [38]:
df.animal.value_counts()

dog      4
cat      4
snake    2
Name: animal, dtype: int64

#### 14. Сортируйте `df` сначала по значениям в 'age' в * возрастающем * порядке, затем по значениям в столбце 'visit' в * возрастающем * порядке.

In [39]:
print(df.sort_values('age'))
print()
print(df.sort_values('visits'))

     age animal priority  visits    f
c    0.5  snake       no     2.0  NaN
f    1.5    cat       no     3.0  NaN
a    2.5    cat      yes     1.0  NaN
b    3.0    cat      yes     3.0  NaN
j    3.0    dog       no     1.0  NaN
g    4.5  snake       no     1.0  NaN
e    5.0    dog       no     2.0  NaN
i    7.0    dog       no     2.0  NaN
d    NaN    dog      yes     3.0  NaN
h    NaN    cat      yes     1.0  NaN
age  NaN    NaN      NaN     NaN  1.5

     age animal priority  visits    f
a    2.5    cat      yes     1.0  NaN
g    4.5  snake       no     1.0  NaN
h    NaN    cat      yes     1.0  NaN
j    3.0    dog       no     1.0  NaN
c    0.5  snake       no     2.0  NaN
e    5.0    dog       no     2.0  NaN
i    7.0    dog       no     2.0  NaN
b    3.0    cat      yes     3.0  NaN
d    NaN    dog      yes     3.0  NaN
f    1.5    cat       no     3.0  NaN
age  NaN    NaN      NaN     NaN  1.5

#### 15. В столбце приоритет замените значения на `Yes` и `No`

In [40]:
df = df.replace('yes', 'Yes')
df = df.replace('no', 'No')
print(df)

     age animal priority  visits    f
a    2.5    cat      Yes     1.0  NaN
b    3.0    cat      Yes     3.0  NaN
c    0.5  snake       No     2.0  NaN
d    NaN    dog      Yes     3.0  NaN
e    5.0    dog       No     2.0  NaN
f    1.5    cat       No     3.0  NaN
g    4.5  snake       No     1.0  NaN
h    NaN    cat      Yes     1.0  NaN
i    7.0    dog       No     2.0  NaN
j    3.0    dog       No     1.0  NaN
age  NaN    NaN      NaN     NaN  1.5

#### 16. В столбце «animal» измените записи «snake» на «python».

In [41]:
df = df.replace('snake', 'python')
print(df)

     age  animal priority  visits    f
a    2.5     cat      Yes     1.0  NaN
b    3.0     cat      Yes     3.0  NaN
c    0.5  python       No     2.0  NaN
d    NaN     dog      Yes     3.0  NaN
e    5.0     dog       No     2.0  NaN
f    1.5     cat       No     3.0  NaN
g    4.5  python       No     1.0  NaN
h    NaN     cat      Yes     1.0  NaN
i    7.0     dog       No     2.0  NaN
j    3.0     dog       No     1.0  NaN
age  NaN     NaN      NaN     NaN  1.5

#### 17. Удалите все повторения строк из таблицы
```python
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

In [43]:
df = pd.DataFrame ({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df = df.drop_duplicates('A')
print(df)

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

#### 20. Предположим, у вас есть DataFrame с 10 столбцами действительных чисел, например:

```python
df = pd.DataFrame (np.random.random (size = (5, 10)), columns = список ('abcdefghij'))
```
#### Какой столбец имеет наименьшую сумму? Найдите метку этого столбца.

#### 21. Замените все пропущенные значения, на среднее по столбцу
```python
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
```

In [47]:
df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, 
                                 np.nan, 1, 7, 3, np.nan, 8]})
num = df.value.sum()/ df.value.count()
df = df.fillna(num)
print(df)

   group     value
0      a  1.000000
1      a  2.000000
2      b  3.000000
3      b  3.333333
4      a  2.000000
5      b  3.000000
6      b  3.333333
7      b  1.000000
8      a  7.000000
9      b  3.000000
10     a  3.333333
11     b  8.000000

#### 22. Создайте два новых столбца, для From и To. Приведите названия городов к нормальному виду.

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```

In [48]:

df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})

df = df['From_To'].str.split('_', expand=True)
df.columns=['From','To']

df['From'] = df['From'].str.lower() 
df['To'] = df['To'].str.lower() 

print(df)

       From         To
0    london      paris
1    madrid      milan
2    london  stockholm
3  budapest      paris
4  brussels     london